/* src/components/managerToast/style.css */
.manager-toast {
    position: fixed;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manager-toast.bottom-right {
    bottom: 50px;
    right: 20px;
}